* {
  margin: 0 3px 3px 3px;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.nav_left {
  margin-top: 20px;
  float: left;
  /* padding: 5px; */
}

.nav_right {
  margin-top: 1px;
  float: right;
}

.nav_right a {
  text-decoration: none;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.8);
}
.nav_left a {
  text-decoration: none;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.appicon {
  position: relative;
  top: 10px;
  opacity: 0.5;
}
.appicon:hover {
  opacity: 1;
}
.nav-signin-button {
  background-color: #4285f4;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 7px 12px;
  cursor: pointer;
}

#microphone {
  width: 15px;
  height: 20px;
  position: relative;
  left: -65px;
  top: 8px;
}
.search-container{
  min-width: 700px;
}
.main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  min-height: 500px;
  text-align: center;
}
.search {
  width: 500px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  /* margin-top: 20px; */
  margin: 10px ;
  outline: none;
  padding:0 50px 0 50px;
}
.search:hover {
  box-shadow: 12px 8px 14px -4px rgba(0, 0, 0, 0.75);
}
.search:focus{
  border: 1.5px solid black;
  
}

.search-icon {
  position: relative;
  left: 50px;
  top: 8px;
}

.button-search {
  margin: 20px 0;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  border: none;
  
}
.button-search:hover{
  cursor: pointer;
  color: rgba(0, 0, 0, .75);
  border: 1px solid rgb(96, 96, 96);
}

footer{
  min-width: 550px;
    background-color: rgb(235, 222, 222);
    line-height: 10px;
    position: relative;
    top: 80px;
    /* color: rgba(0, 0, 0, 0.5); */
}
.footer-left-div{
    margin-top: 2px;
    float: left;
}

.footer-right-div{
    margin-top: 2px;
    float: right;
}


.nav_footer{
    display: flex;
    justify-content: space-between;
    /* min-width: 550px; */
}

.footer-left-div a,.footer-right-div a{
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.footer-left-div a:hover,.footer-right-div a:hover{
  color: rgba(0, 0, 0,1);
  text-decoration: none;
}

#turkey{
  color: rgba(0, 0, 0, 0.75);
  margin-left: 10px;
  padding-top: 7px;
}
